body{
    font-family:Georgia, 'Times New Roman', Times, serif; color:tomato;
    text-decoration: none; background-image: url("///e:/New Project/bg2.jpg"); background-size: cover;
    background-attachment: fixed; text-align: center;
}
img{
    width: 200px;
}
